.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 11;
    padding: 0px 50px;
    width: 95%;
    height: var(--nav-height);
    background-color: rgba(10, 25, 47, 0.85);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-gray);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.logo {
    margin-top: 0.5em;
    fill: var(--blue);
    stroke: var(--blue);
    width: 52px;
    height: 52px;

    &:hover,
    &:focus {
      svg {
        fill: var(--blue-tint);
        stroke: var(--blue-tint);
      }
    }
  }

.navbar-links {
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
      padding-right: 25px;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

nav {
    display: flex;
    align-items: center;

    ol {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin: 0 5px;
            position: relative;
            counter-increment: item 1;
            font-size: var(--fs-xs);

            transition: all 0.3s ease-out;

            a {
                padding: 10px;
                text-decoration: none;
                color: var(--lightest-gray);

                &:before {
                content: '0' counter(item) '.';
                margin-right: 5px;
                color: var(--blue);
                font-size: var(--fs-xxs);
                text-align: right;
                }

                &:hover,
                &:focus {
                    color: var(--blue);
                }
            }
        }
    }
}

.resume-button {
    color: var(--blue);
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-size: var(--fs-xs);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--blue-tint);
      outline: none;
    }
    &:after {
      display: none !important;
    }
    margin-left: 15px;
    font-size: var(--fs-xs);
}

.nav {
  display: block;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.nav__toggle {
  opacity: 0;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 1;
}

.nav__button {
  cursor: pointer;
  display: block;
  height: 1.5rem;
  padding: 2px 0;
  pointer-events: auto;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 1.5rem;
  z-index: 3;
}

.nav__button-part {
  background-color: white;
  display: block;
  height: .25rem;
  position: relative;
  transform-origin: 0;
  transition: transform .3s ease-in-out .3s, opacity .2s ease-in-out .4s, background-color .2s ease-in-out .2s;
  width: 1.5rem;
  will-change: transform, opacity, background-color;

  & + & {
    margin-top: .25rem;
  }

  &:first-child {
    transform-origin: 0 0;
  }

  &:last-child {
    transform-origin: 0 100%;
  }

  .nav__toggle:checked ~ .nav__button & {
    background-color: black;
    opacity: 1;
    transform: rotate(45deg);

    &:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(.2, .2);
    }

    &:nth-child(3) {
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
}

.nav__items-container {
  max-width: 25rem;
  padding: 1rem;
  pointer-events: auto;
  transform: translateY(-100%);
  transform-origin: 0;
  transition: transform .5s cubic-bezier(.75, .2, .1, 1);
  width: 100vw;
  will-change: transform;

  @media (min-width: 56.25rem) {
    max-width: none;
    width: auto;
  }

  .nav__toggle:checked ~ & {
    transform: translateY(0);
  }
}

.nav__list {
  background: white;
  border-radius: 1.75rem;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  list-style-type: none;
  margin: 0;
  padding: 3.5rem 0 2rem;

  @media (min-width: 56.25rem) {
    flex-direction: row;
    height: 3.5rem;
    padding: 0 4rem 0 2rem;
  }
}

.nav__link {
  align-items: center;
  color: black;
  display: flex;
  height: 3.5rem;
  padding: 0 2rem;
  text-decoration: none;
  transition: color .2s ease-in-out;
  will-change: color;

  @media (min-width: 56.25rem) {
    padding: 0 1.5rem;
  }

  &:hover,
  &:active,
  &:focus {
    color: #9D50BB;
  }
}