@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@1,400;1,600&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --font-mono: 'Red Hat Mono', 'Roboto Mono', monospace;

    --dark-navy: #00171f; 
    --navy: #002030;
    --light-navy: #003d52;
    --lightest-navy: #00506c;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-gray: #646671;
    --gray: #888a95;
    --light-gray: #9b9ca6;
    --lightest-gray: #adafb7;
    --white: #fafafa;
    --blue: #02b9ff;
    --blue-tint: rgba(100, 218, 255, 0.3);

    --fs-xxs: 12px;
    --fs-xs: 13px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-xxl: 22px;
    --fs-heading: 32px;

    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;

    --tab-height: 42px;
    --tab-width: 120px;

    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out,
      transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

html {
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-gray) var(--navy);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body {
  margin: 0;
  font-weight: 300;
  font-family: var(--font-family), 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--lightest-gray);
  background: var(--navy);
  overflow: auto;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}